/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.job-card__title {
    font-size: 1.4rem;
    line-height: 1.42857;
    font-weight: 600;
    color: rgba(0,0,0,.9);
}

.job-card__company-name {
    font-size: 1.4rem;
    line-height: 1.42857;
    font-weight: 400;
    color: rgba(0,0,0,.9);
}

.job-card__location {
    font-size: 1.2rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0,0,0,.6);
}

.job-card__listed-status {
    font-size: 1.2rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0,0,0,.6);
}

.card-columns .card:hover {
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.job-card_img {
    width: 64px;
    height: 64px;
}

.job-card_title {
    font-size: 1.3rem;
    line-height: 1.42857;
    font-weight: 600;
    color: rgba(0,0,0,.9);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.job-card_company-name {
    font-size: 1.1rem;
    line-height: 1.42857;
    font-weight: 400;
    color: rgba(0,0,0,.9);
}

.job-card_location {
    font-size: 1rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0,0,0,.6);
}

.job-card_listed-status {
    font-size: 1rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0,0,0,.6);
}
