@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

<div class="text-center">
    <img class="error_img" src="https://dl.dropboxusercontent.com/s/raguj3sml8r7738/errorPageImage.png?raw=1" />
    <h5>An error occurred while processing your request.</h5>

    @if (this.Model.ShowRequestId)
    {
        <p>
            Request ID: @this.Model.RequestId
        </p>
    }
</div>

