@using JobPlatform.Common
@model JobPlatform.Web.ViewModels.Browse.BrowseViewModel
@{
    this.ViewData["Title"] = "Job posts";
}
<partial name="_SearchPartial" model="Model.SearchPartialViewModel" />

<div class="text-body display-4">
    @if (Model.JobsDisplayViewModel.JobPosts.Count() == 0)
    {
        <div class="text-center">
            <h4>
                We couldn't find anything. :(
                <br />
                Try different or less specific keywords
            </h4>
        </div>
    }
    else
    {
        <h4>Search results: </h4>
    }
</div>

<partial name="_JobBrowsePartial" model="@Model.JobsDisplayViewModel" />
