@using JobPlatform.Common
@model JobPlatform.Web.ViewModels.Browse.BrowseViewModel
@{
    this.ViewData["Title"] = "Обяви за работа: ";
}
<partial name="_SearchPartial" model="Model.SearchPartialViewModel" />

<div class="text-body display-4">
    @if (Model.JobsDisplayViewModel.JobPosts.Count() == 0)
    {
        <h4>Няма намерени резултати</h4>
    }
    else
    {
        <h4>Намерени обяви:</h4>
    }
</div>

<partial name="_JobBrowsePartial" model="@Model.JobsDisplayViewModel" />
