@using JobPlatform.Common
@model JobPlatform.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Обяви за работа: ";
}
<partial name="_SearchPartial" model="Model.SearchPartialViewModel" />

<div class="text-body display-4">
    @if (Model.JobPosts.Count() == 0)
    {
        <h4>Няма намерени резултати</h4>
    }
    else
    {
        <h4>Намерени обяви:</h4>
    }
</div>

<div class="card-columns">
    @foreach (var jobPost in Model.JobPosts)
    {
        <partial name="_JobBrowsePartial" model="jobPost" />
    }
</div>
