
@{
    ViewData["Title"] = "Tagged";
}

<h1> Обяви маркирани с @Model.Name</h1>

<div class="card-columns">

    @foreach (var jobPost in Model.JobPosts)
    {
        <partial name="_JobBrowsePartial" model="jobPost.JobPost" />
    }
</div>