@model JobPlatform.Web.ViewModels.Administration.Users.SearchUserViewModel

<div class="d-flex">
    <form class="form-inline md-1" asp-area="Administration" asp-controller="User" asp-action="Search" asp-route-name="@Model.Name">
        <div class="form-group mb-2">
            <input asp-for=@Model.Name class="form-control" />
            <span asp-validation-for=@Model.Name class="text-danger"></span>
        </div>
        <div class="mx-sm-3 mr-2">
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </div>
    </form>
</div>
