
@{
    ViewData["Title"] = "Users";
}

<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @if (this.TempData["InfoMessage"] != null)
            {
                <div class="alert alert-success">
                    @this.TempData["InfoMessage"]
                </div>
            }
            <h1>@this.ViewData["Title"]</h1>
            <a class="btn btn-primary" asp-area="Administration" asp-controller="User" asp-action="CreateUser">Create user</a>
            <a class="btn btn-primary" asp-area="Administration" asp-controller="User" asp-action="CreateEmployer">Create employer</a>
            <br />
            <br />
            <partial name="_SearchUserPartial" model="@Model" />
        </div>
    </div>
</div>

